.popup-actual {
  position: fixed;
  top: 35%;
  left: 35%;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: cadetblue;
  padding: 20px;
  z-index: 1;
  width: 30%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.form-element {
  display: block;
}

.cross {
  width: 30px;
  height: 30px;
  align-self: flex-end;
}

.small {
  display: flex;
  justify-content: space-around;
  font-size: 0.5em;
}
