.post {
  width: 60%;
  text-align: center;
  text-justify: distribute;
  /* height: 700px; */
  /* border-right: 1px solid black;
  border-bottom: 1px solid black; */
  border: 1px solid black;
  padding: 5px;
  margin: 20px;
}
