/* .App {
  background-image: url("https://cdn.wallpapersafari.com/8/81/3ZPS9q.png");
}  */

/* .mid-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
} */
